In [240]:
import pandas as pd

In [241]:
Hight = pd.read_csv("C:\\Users\\Pin\\Desktop\\DataSets\\NVT_Hm0_NES.csv",sep = ";", header = 0, parse_dates = [["Datum", "Tijd"]])
Temp = pd.read_csv("C:\\Users\\Pin\\Desktop\\DataSets\\NVT_T_NES.csv", sep = ";", header = 0, parse_dates = [["Datum", "Tijd"]])

In [242]:
def Cleanup(DataFrame):
    DataFrame = DataFrame.dropna(how = "all", axis = "columns")
    DataFrame = DataFrame.drop(columns = {"Referentievlak","Bemonsteringshoogte"})
    return DataFrame

In [243]:
def Translate(DataFrame):
    degree_sign = u"\N{DEGREE SIGN}"
    Rename_dict = {"Datum_Tijd":"DateTime",
                   "Locatie":"Location",
                   "Waarde":"Value",
                   "Eenheid":"Unit",
                   "Windrichting":"WindDirection",
                   "Windrichting eenheid":"Wind direction unit"}
    DataFrame = DataFrame.rename(columns = Rename_dict)
    DataFrame = DataFrame.replace(["Significante golfhoogte in het spectrale domein Oppervlaktewater golffrequentie tussen 30 en 500 mHz in cm", "Temperatuur Oppervlaktewater oC", "graden"],
                                   ["Significant wave height in the spectral domain Surface water wave frequency between 30 and 500 mHz in cm","Temperature Surface water " + degree_sign + "C", "Degrees"],)
    return DataFrame

In [244]:
Hight = Cleanup(Hight)
Temp = Cleanup(Temp)

In [245]:
Hight = Translate(Hight)
Temp = Translate(Temp)

In [246]:
Hight

,DateTime,Parameter,Location,Value,Unit,WindDirection,Wind direction unit
0,2022-01-01 15:00:00,Significant wave height in the spectral domain...,Nes,14.0,cm,183,Degrees
1,2022-01-01 15:10:00,Significant wave height in the spectral domain...,Nes,14.0,cm,182,Degrees
2,2022-01-01 15:20:00,Significant wave height in the spectral domain...,Nes,14.0,cm,180,Degrees
3,2022-01-01 15:30:00,Significant wave height in the spectral domain...,Nes,15.0,cm,182,Degrees
4,2022-01-01 15:40:00,Significant wave height in the spectral domain...,Nes,15.0,cm,181,Degrees
...,...,...,...,...,...,...,...
4026,2022-01-29 14:00:00,Significant wave height in the spectral domain...,Nes,31.0,cm,231,Degrees
4027,2022-01-29 14:10:00,Significant wave height in the spectral domain...,Nes,33.0,cm,228,Degrees
4028,2022-01-29 14:20:00,Significant wave height in the spectral domain...,Nes,35.0,cm,227,Degrees
4029,2022-01-29 14:30:00,Significant wave height in the spectral domain...,Nes,35.0,cm,230,Degrees
4030,2022-01-29 14:40:00,Significant wave height in the spectral domain...,Nes,NaN,cm,235,Degrees

In [247]:
Temp

,DateTime,Parameter,Location,Value,Unit,WindDirection,Wind direction unit
0,2022-01-01 15:00:00,Temperature Surface water °C,Nes,"5,6",oC,"183,3",Degrees
1,2022-01-01 15:10:00,Temperature Surface water °C,Nes,"5,7",oC,"182,2",Degrees
2,2022-01-01 15:20:00,Temperature Surface water °C,Nes,"5,6",oC,"179,7",Degrees
3,2022-01-01 15:30:00,Temperature Surface water °C,Nes,"5,6",oC,"181,7",Degrees
4,2022-01-01 15:40:00,Temperature Surface water °C,Nes,"5,6",oC,"180,6",Degrees
...,...,...,...,...,...,...,...
4026,2022-01-29 14:00:00,Temperature Surface water °C,Nes,"5,4",oC,"231,0",Degrees
4027,2022-01-29 14:10:00,Temperature Surface water °C,Nes,"5,4",oC,"227,9",Degrees
4028,2022-01-29 14:20:00,Temperature Surface water °C,Nes,"5,4",oC,"227,1",Degrees
4029,2022-01-29 14:30:00,Temperature Surface water °C,Nes,"5,4",oC,"229,8",Degrees
4030,2022-01-29 14:40:00,Temperature Surface water °C,Nes,"5,4",oC,"234,5",Degrees