In [387]:
import pandas as pd

In [388]:
Hight = pd.read_csv("C:\\Users\\Pin\\Desktop\\DataSets\\NVT_Hm0_NES.csv",sep = ";", header = 0, parse_dates = [["Datum", "Tijd"]])
Temp = pd.read_csv("C:\\Users\\Pin\\Desktop\\DataSets\\NVT_T_NES.csv", sep = ";", header = 0, parse_dates = [["Datum", "Tijd"]])

In [389]:
def Cleanup(DataFrame):
    """
    Removes columns without any values
    Drops columns with no meaningfull values
    """
    DataFrame = DataFrame.dropna(how = "all", axis = "columns")
    DataFrame = DataFrame.drop(columns = {"Referentievlak","Bemonsteringshoogte"})
    return DataFrame

In [390]:
def Translate(DataFrame):
    """
    Translates all dutch to english
    Replaces oC with °C
    """
    degree_sign = u"\N{DEGREE SIGN}"
    Rename_dict = {"Datum_Tijd":"DateTime",
                   "Locatie":"Location",
                   "Waarde":"Value",
                   "Eenheid":"Unit",
                   "Windrichting":"Winddirection",
                   "Windrichting eenheid":"Wind direction unit"}
    DataFrame = DataFrame.rename(columns = Rename_dict)
    DataFrame = DataFrame.replace(["Significante golfhoogte in het spectrale domein Oppervlaktewater golffrequentie tussen 30 en 500 mHz in cm", "Temperatuur Oppervlaktewater oC", "graden", "oC"],
                                   ["Significant wave height in the spectral domain Surface water wave frequency between 30 and 500 mHz in cm","Temperature Surface water " + degree_sign + "C", "Degrees", degree_sign + "C"])
    return DataFrame

In [391]:
def CombineAndDrop(DataFrame):
    """
    Renames columns to add their unit
    Removes columns that are not used, like the seperate unit column
    """
    Unused = {"Parameter", "Location", "Unit", "Wind direction unit"}
    Rename_dict = {"Value": "Value in " + DataFrame["Unit"].iloc[0],
                   "Winddirection": "Winddirection in " + DataFrame["Wind direction unit"].iloc[0]}
    DataFrame = DataFrame.rename(columns = Rename_dict)
    DataFrame = DataFrame.drop(columns = Unused)
    
    return DataFrame

In [392]:
Hight = Cleanup(Hight)
Hight = Translate(Hight)
Hight = CombineAndDrop(Hight)

Temp = Cleanup(Temp)
Temp = Translate(Temp)
Temp = CombineAndDrop(Temp)

In [394]:
Hight

                DateTime  Value in cm  Winddirection in Degrees
0    2022-01-01 15:00:00         14.0                       183
1    2022-01-01 15:10:00         14.0                       182
2    2022-01-01 15:20:00         14.0                       180
3    2022-01-01 15:30:00         15.0                       182
4    2022-01-01 15:40:00         15.0                       181
...                  ...          ...                       ...
4026 2022-01-29 14:00:00         31.0                       231
4027 2022-01-29 14:10:00         33.0                       228
4028 2022-01-29 14:20:00         35.0                       227
4029 2022-01-29 14:30:00         35.0                       230
4030 2022-01-29 14:40:00          NaN                       235

[4031 rows x 3 columns]

In [395]:
Temp

                DateTime Value in °C Winddirection in Degrees
0    2022-01-01 15:00:00         5,6                    183,3
1    2022-01-01 15:10:00         5,7                    182,2
2    2022-01-01 15:20:00         5,6                    179,7
3    2022-01-01 15:30:00         5,6                    181,7
4    2022-01-01 15:40:00         5,6                    180,6
...                  ...         ...                      ...
4026 2022-01-29 14:00:00         5,4                    231,0
4027 2022-01-29 14:10:00         5,4                    227,9
4028 2022-01-29 14:20:00         5,4                    227,1
4029 2022-01-29 14:30:00         5,4                    229,8
4030 2022-01-29 14:40:00         5,4                    234,5

[4031 rows x 3 columns]